@charset "UTF-8";

/* font 적용 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body { font-family: 'Do Hyeon', sans-serif; }


/* bootstrap 코드 */
/* .btn:focus { box-shadow: none; } */
/* .navbar-toggler:focus { box-shadow: none; } */


/* pc 화면 */
h1 { font-size: 50px; }
img {
    vertical-align: baseline;
    width: 35px;
    height: 35px;
}

.input-form { margin-bottom: 5px; }
.text-dark { color: #212529; }
.token-img {
    vertical-align: baseline;
    width: 20px;
    height: 20px;
}

#title {
    margin: 90px;
    margin-bottom: 30px;
}
#wallet {
    padding: 20px;
    border: 1px solid #dee2e6;
}
#add_liquidity {
    margin-top: 90px;
    padding: 20px;
    border: 1px solid #dee2e6;
}
#swap {
    margin-top: 90px;
    padding: 20px;
    border: 1px solid #dee2e6;
}
#nav_img {
    width: 16px;
    height: 16px;
    border: 2px solid #FFE6CD;
    border-radius: 50%;
}


/* moblie 화면 */
@media (max-width: 992px) {
    h1 { font-size: 38px; }
    img {
        width: 28px;
        height: 28px;
    }

    #title {
        margin: 90px;
        margin-bottom: 25px;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {
    #wallet {
        padding: 15px;
        border: 0px solid #FFFFFF;
    }
    #add_liquidity {
        padding: 15px;
        border: 0px solid #FFFFFF;
    }
    #swap {
        padding: 15px;
        border: 0px solid #FFFFFF;
    }
}
@media (max-width: 419px) {
    h1 { font-size: xx-large; }
    img {
        width: 24px;
        height: 24px;
    }

    #title { display: none; }
    #wallet { margin-top: 60px; }
    #add_liquidity { margin-top: 60px; }
    #swap { margin-top: 60px; }
}